@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root  {
    --background: 48 0% 95%;
    --foreground: 48 0% 10%;
    --card: 48 0% 90%;
    --card-foreground: 48 0% 15%;
    --popover: 48 0% 95%;
    --popover-foreground: 48 95% 10%;
    --primary: 48 93% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 10 10% 85%;
    --muted-foreground: 48 0% 35%;
    --accent: 10 10% 80%;
    --accent-foreground: 48 0% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 48 0% 90%;
    --border: 48 20% 50%;
    --input: 48 20% 26%;
    --ring: 48 93% 46%;
    --radius: 0.3rem;
  }
  .dark  {
    --background: 48 10% 10%;
    --foreground: 48 0% 90%;
    --card: 48 0% 10%;
    --card-foreground: 48 0% 90%;
    --popover: 48 10% 5%;
    --popover-foreground: 48 0% 90%;
    --primary: 48 93% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 10 10% 25%;
    --muted-foreground: 48 0% 60%;
    --accent: 10 10% 25%;
    --accent-foreground: 48 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 48 0% 90%;
    --border: 48 20% 26%;
    --input: 48 20% 26%;
    --ring: 48 93% 46%;
    --radius: 0.3rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

