/* fonts.css */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "PP Editorial New";
  font-weight: 400;
  src: url("/pp-editorial-new/regular.woff2") format("woff2"),
       url("/pp-editorial-new/regular.woff") format("woff");
}

@font-face {
  font-family: "PP Editorial New";
  font-weight: 700;
  src: url("/pp-editorial-new/bold.woff2") format("woff2"),
       url("/pp-editorial-new/bold.woff") format("woff");
}
